/* colors */

* {
  al:      #00000000;
  bg:      #F5EEEAff;
  se:      #827E7Dff;
  fg:      #484647cc;
  ac:      #6C6686ff;
  red:     #B06240ff;
  green:   #7BC175ff;
  yellow:  #FDD835ff;
  blue:    #6C6686ff;
  purple:  #815F73ff;
  cyan:    #566E85ff;
}
