/* colors */

* {
  al:      #00000000;
  bg:      #434c5eff;
  se:      #e5e9f0ff;
  fg:      #e5e9f0ff;
  ac:      #FF91A4ff;
  red:     #EC7875ff;
  green:   #61C766ff;
  yellow:  #FDD835ff;
  blue:    #42A5F5ff;
  purple:  #BA68C8ff;
  cyan:    #4DD0E1ff;
}
