/* colors */

* {
  al:      #00000000;
  bg:      #e0dfd5ff;
  se:      #827E7Dff;
  fg:      #313638ff;
  ac:      #f09d51ff;
  red:     #f06543ff;
  green:   #969a3cff;
  yellow:  #fbc182ff;
  blue:    #74bdcbff;
  purple:  #815F73ff;
  cyan:    #aed3d6ff;
}
